<!DOCTYPE html>

<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'person')}"
>
  <body>
    <form
      class="form"
      th:object="${person}"
      th:action="@{/persona/create}"
      method="post"
    >
      <h1 class="title">Registrar Datos</h1>
      <div class="form-data">
        <label for="dni" class="form-label">DNI :</label>
        <input
          type="text"
          placeholder="Ingrese su DNI"
          th:field="*{dni}"
          maxlength="8"
        />
      </div>
      <div class="form-data">
        <label for="nombres" class="form-label">Nombres Completos:</label>
        <input
          type="text"
          placeholder="Ingrese sus Nombres"
          th:field="*{nombres}"
        />
      </div>
      <div class="form-data">
        <label for="ApePat" class="form-label">Apellido Paterno :</label>
        <input
          type="text"
          placeholder="Ingrese el Apellido Pat."
          th:field="*{ApePat}"
        />
      </div>
      <div class="form-data">
        <label for="ApeMat" class="form-label">Apellido Materno :</label>
        <input
          type="text"
          placeholder="Ingrese sus Apellidos Mat."
          th:field="*{ApeMat}"
        />
      </div>
      <div class="form-data">
        <label for="direc" class="form-label">Direccion :</label>
        <input
          type="text"
          placeholder="Ingrese su Dirección"
          th:field="*{direc}"
        />
      </div>
      <div class="form-data">
        <label for="genero" class="form-label">Género :</label>
        <div class="form-radio">
          <div>
            <input
              type="radio"
              id="genderM"
              name="genderM"
              value="Male"
              th:field="*{genero}"
            />
            <label for="genderM" class="radio">Masculino</label>
          </div>
          <div>
            <input
              type="radio"
              id="genderF"
              name="genderF"
              value="Female"
              th:field="*{genero}"
            />
            <label for="genderF" class="radio">Femenino</label>
          </div>
        </div>
      </div>
      <div class="form-data">
        <label for="birthdate" class="form-label">Fecha Nacimiento :</label>
        <input type="date" id="birthdate" th:field="*{birthdate}" />
      </div>
      <div class="form-data">
        <label for="status" class="form-label">Estado Civil :</label>
        <div class="form-radio">
          <div>
            <input
              type="radio"
              id="statusS"
              name="statusS"
              value="single"
              th:field="*{estado}"
            />
            <label for="statusS" class="radio">Soltero</label>
          </div>
          <div>
            <input
              type="radio"
              id="statusC"
              name="statusC"
              value="married"
              th:field="*{estado}"
            />
            <label for="statusC" class="radio">Casado</label>
          </div>
        </div>
        <div class="form-radio">
          <div>
            <input
              type="radio"
              id="statusV"
              name="statusV"
              value="widower"
              th:field="*{estado}"
            />
            <label for="statusV" class="radio">Viudo</label>
          </div>
          <div>
            <input
              type="radio"
              id="statusO"
              name="statusO"
              value="others"
              th:field="*{estado}"
            />
            <label for="statusO" class="radio">otros</label>
          </div>
        </div>
      </div>
      <button type="submit" class="form-btn">Enviar Datos</button>
    </form>
    <th:block th:if="${mensaje!=null}">
      <th:block th:if="${mensaje==true}">
        <p class="response-form-s">Enviado Exitoso !!! 👍</p>
      </th:block>
      <th:block th:if="${mensaje==false}">
        <p class="response-form-f">Enviado fallido !!! 👍</p>
      </th:block>
    </th:block>
  </body>
</html>
