<!DOCTYPE html>

<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'login')}"
>
  <body>
    <form
      th:object="${user}"
      th:action="@{/usuario/login}"
      method="post"
      class="form"
    >
      <h1 class="title">Log In</h1>
      <div class="form-data">
        <label for="userID" class="form-label">Usuario:</label>
        <input
          type="text"
          th:field="*{userID}"
          placeholder="Ingrese su usuario"
        />
      </div>
      <div class="form-data">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          th:field="*{password}"
          placeholder="Ingrese su contraseña"
        />
      </div>
      <button type="submit" class="form-btn">Ingresar</button>
    </form>
    <th:block th:if="${mensaje!=null}">
      <p th:text="${mensaje}" class="response-form-f" />
    </th:block>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"
    ></script>
    <script
      th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"
    ></script>

    <script>
      $(".input-group.date").datepicker({
        autoclose: true,
        todayHighlight: true,
      });
    </script>
    <script>
      $(":input").inputmask();
    </script>
  </body>
</html>
