<!DOCTYPE html>
<html th:fragment="layout (template, menu)">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/40d89d1195.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/estilo.css" />
  </head>
  <body>
    <section class="navbar">
      <div class="container">
        <a href="/" class="navbar-icon">
          <i class="fa-regular fa-address-card"></i> Reniec
          <span class="navbar-icon">API</span>
        </a>
        <ul>
          <th:block th:if="${session.user==null}">
            <a href="/cliente/create">
              <li class="navbar-link">Sign Up</li>
            </a>
            <a href="/usuario/login">
              <li class="navbar-link">Log in</li>
            </a>
          </th:block>
          <th:block th:if="${session.user!=null}">
            <a href="/usuario/logout">
              <li class="navbar-link">Log out</li>
            </a>
          </th:block>
        </ul>
      </div>
    </section>
    <section class="main">
      <div class="container">
        <th:block th:include="${template}" />
      </div>
    </section>

    <section class="footer">
      <div class="container">
        <h1>
          <i class="fa-solid fa-robot"></i> Tu salud es primero, cumple con los
          protocolos
        </h1>
      </div>
    </section>
  </body>
</html>
