<!DOCTYPE html>

<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'peticiones')}"
>
  <body>
    <form class="form" th:action="@{/peticiones/}" method="post">
      <h1 class="title">Buscar DNI</h1>
      <div class="form-data">
        <label for="dni" class="form-label">DNI :</label>
        <input type="text" name="dni" placeholder="Ingrese su DNI" />
      </div>
      <button type="submit" class="form-btn">Buscar</button>
    </form>
    <br />
    <h1 class="title">Peticiones por Usuario</h1>
    <div class="Container-cards">
      <th:block th:if="${user!=null}">
        <div th:each="single: ${listdni}" class="Card">
          <div class="Card-body">
            <h1 th:text="${single[0]}" class="Card-user">User</h1>
            <h2 th:text="${single[1]}" class="Card-count">Cantidad</h2>
          </div>
        </div>
      </th:block>

      <th:block th:if="${user==null}">
        <p class="response-form-f">Loguearse porfavor !!! 👎</p>
      </th:block>
    </div>
  </body>
</html>
